<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fitness Diets</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<h2>Fitness Diets</h2>
<h4>Here is List of Diets For Fitness </h4>
<form action="/fdiet" method="POST">
	<font size="4" color="red">Add Diet</font>
	<table border="1px">
			<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Age</td>
			<td>Diet From</td>
			<td>Diet Start</td>
		</tr>
		<tr>
			<td> <input type="number" name="DID" > </td>
			<td> <input type="text" name="DNAME" > </td>
			<td> <input type="number" name="DAGE" > </td>
			<td> <input type="text" name="DIETFROM" > </td>
			<td> <input type="text" name="DIETSTART" > </td>
		</tr>
	</table>
	<input type="submit" name="fdiet_add"value="Add" />
	
	<br>	<br>	<br>
	<font size="4" color="red">Fitness Diet Table</font>
	<table border="1ppx">
		<tr>
			<th>Diet ID</th>
			<th>Diet Name</th>
			<th>Diet Age</th>
			<th>Diet From</th>
			<th>Diet Start </th>
			
		</tr>
		{% for fdiet in fdieter %}
		<tr>
			<td>{{fdiet[0]}}</td>
			<td>{{fdiet[1]}}</td>
			<td>{{fdiet[2]}}</td>
			<td>{{fdiet[3]}}</td>
			<td>{{fdiet[4]}}</td>
			<td>{{fdiet[5]}}</td>
			
		</tr>
		{% endfor %}
	</table>
	<br><br>
	<font size="3" color="red">Delete ID<br></font>
	<input type="number" name="deleted_id" >
	<input type="submit" name="delete_id"value="Delete" />
	
</form>
</form>

<footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
</body>
</html>
