<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<h2>Famous Fitnessers</h2>
<h4>Here is List of Famous Fitnessers </h4>

<form action="/ffitnessers" method="POST">
	<font size="4" color="red">Add Famous Fitnessers</font>
	<table border="1px">

			<tr>
			<td> ID</td>
			<td>Fitnesser Name</td>
			<td>Fitness Record No</td>
		</tr>
		<tr>
			<td> <input type="number" name="FAMID" > </td>
			<td> <input type="text" name="FNAME" > </td>
			<td> <input type="text" name="RECORDNO" > </td>
		</tr>
	</table>
	<input type="submit" name="ffitnessers_add"value="Add Fitnesser Record" />

	<br>	<br>	<br>
	<font size="4" color="red">Fitness Record Table</font>
	<table border="1ppx">
		<tr>
			<th>Person ID</th>
			<th>Fitnesser's Name</th>
			<th>Record No</th>


		</tr>
		{% for ffitnessers in ffitnesserser %}
		<tr>
			<td>{{ffitnessers[0]}}</td>
			<td>{{ffitnessers[1]}}</td>
			<td>{{ffitnessers[2]}}</td>
	


		</tr>
		{% endfor %}
	</table>
	<br><br>
	<font size="3" color="red">Delete ID<br></font>
	<input type="number" name="deleted_id" >
	<input type="submit" name="delete_ffitnessers"value="Delete Record" />

</form>

<footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
</body>
</html>