<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fitness Awards</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<img src="https://cdn0.iconfinder.com/data/icons/16x16-free-toolbar-icons/16/56.png"/>
<a href="/">Return to homepage</a>
<h2>Fitness Awards</h2>
<h5>Here is the list of Fitness Awards</h5>

<form action="/fitnessawards" method="POST">
	<font size="4" color="red">Add fitness award</font>
	<table border="1px">
		<tr>
			<td>ID</td>
			<td>Branch</td>
		</tr>
		<tr>
			<td> <input type="number" name="ID" > </td>
			<td> <input type="text" name="BRANCH" > </td>
		</tr>
	</table>
	<input type="submit" name="fitnessawards_add"value="Add" />
</form>

</body>
</html>