<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fitness Machines</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<img src="https://cdn0.iconfinder.com/data/icons/16x16-free-toolbar-icons/16/56.png"/>
<a href="/">Return to homepage</a>
<h2>Fitness Machines</h2>
<h5>Here is the list of Fitness Machines</h5>

<form action="fitnessmachines" method="POST">
	<font size="4" color="red">Add fitness machine</font>
	<table border="1px">
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Working muscles</td>
		</tr>
		<tr>
			<td> <input type="number" name="ID" > </td>
			<td> <input type="text" name="NAME" > </td>
			<td> <input type="text" name="WORKING_MUSCLES" > </td>
		</tr>
	</table>
	<input type="submit" name="fitnessmachines_add"value="Add" />
</form>

	<br><br><br>
	<table border="1px">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Working Muscles</th>
		</tr>
		{% for fitnessmachine in fitnessmachines %}
		<tr>
			<td>{{fitnessmachine[0]}}</td>
			<td>{{fitnessmachine[1]}}</td>
			<td>{{fitnessmachine[2]}}</td>
		</tr>
		{% endfor %}
	</table>

</body>
</html>