<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
<link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Hello, from itucsdb1528!</h1>
    <h2>Our project is a database about Fitness</h2>
    <h3>We are only two members in this team</h3>
<ol>
<li>Efe Helvacı</li>

<ul>
<li><a href="/mensfitness">Men's Fitness</a></li>
<li><a href="/womensfitness">Women's Fitness</a></li>
<li><a href="/nutritionprograms">Nutrition Programs</a></li>
<li><a href="/fitnessmachines">Fitness Machines</a></li>
<li><a href="/fitnessawards">Fitness Awards</a></li>
</ul>

<li>Maqsood A. Lemar</li>


<ul>
<li><a href="/ftypes">List Fitness Types</a></li>
<li><a href="/frecords">List Fitness Records</a></li>
<li><a href="/fdiet">List Fitness Diets</a></li>
<li><a href="/muinf">List Medicine Used In Fitness</a></li>
<li><a href="/ffitnessers">List Famous Fitnessers</a></li>
</ul></ol>

    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
  </body>
</html>
