<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Medicines Used For Fitness</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<img src="https://cdn0.iconfinder.com/data/icons/16x16-free-toolbar-icons/16/56.png"/>
<a href="/">Return to homepage</a>
<h2> Medicines Used For Fit</h2>
<h4>Here is List of World Records of Fitness </h4>

<form action="/muinf" method="POST">
	<font size="4" color="red">Add Medicine</font>
	<table border="1px">
			<tr>
			<td>M ID</td>
			<td>M Name</td>

		</tr>
		<tr>
			<td> <input type="number" name="MDID" > </td>
			<td> <input type="text" name="MDNAME" > </td>

		</tr>
	</table>
	<input type="submit" name="muinf_add"value="Add"  />

	<br><br><br>
	<font size="4" color="red">Medicine used in fitness</font>
	<table border="1ppx">
		<tr>
			<th>M ID</th>
			<th>M Name</th>

		</tr>
		{% for muinf in muinfer %}
		<tr>
			<td>{{muinf[0]}}</td>
			<td>{{muinf[1]}}</td>
	


		</tr>
		{% endfor %}
	</table>
	<br><br>
	<font size="3" color="red">Delete ID<br></font>
	<input type="number" name="deleted_id" >
	<input type="submit" name="delete_id"value="Delete" />

</form>

<footer>
<div id="datetime">{{ current_time }}</div>
    </footer>
</body>
</html>