<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Nutrition Programs</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<img src="https://cdn0.iconfinder.com/data/icons/16x16-free-toolbar-icons/16/56.png"/>
<a href="/">Return to homepage</a>
<h2>Nutrition Programs</h2>
<h5>Here is the list of Nutrition Programs</h5>

<form action="/nutritionprograms" method="POST">
	<font size="4" color="red">Add nutrition program</font>
	<table border="1px">
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Calories</td>
		</tr>
		<tr>
			<td> <input type="number" name="ID" > </td>
			<td> <input type="text" name="NAME" > </td>
			<td> <input type="number" name="CALORIES" > </td>
		</tr>
	</table>
	<input type="submit" name="nutritionprograms_add"value="Add" />
	
	<br><br><br>
	<font size="4" color="red">Find nutrition program</font>
	<table border="1px">
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Calories</td>
		</tr>
		<tr>
			<td> <input type="number" name="FIND_ID" > </td>
			<td> <input type="text" name="FIND_NAME" > </td>
			<td> <input type="number" name="FIND_CALORIES" > </td>
		</tr>
	</table>
	<input type="submit" name="nutritionprogram_find"value="Search" />
	<input type="submit" name="nutritionprogram_find_all"value="Show All" />
	
	<br><br>
	<font size="3" color="red">Delete ID<br></font>
	<input type="number" name="deleted_id" >
	<input type="submit" name="delete_id"value="Delete" />
	
		<br><br><br>
	<font size="3" color="red">Inside database:</font>
	<table border="1px">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Calories</th>
		</tr>
		{% for nutritionprogram in nutritionprograms %}
		<tr>
			<td>{{nutritionprogram[0]}}</td>
			<td>{{nutritionprogram[1]}}</td>
			<td>{{nutritionprogram[2]}}</td>
		</tr>
		{% endfor %}
	</table>
</form>

</body>
</html>