<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Nutrition Programs</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<h2>Nutrition Programs</h2>
<h5>Here is the list of Nutrition Programs</h5>

<form action="add_nutrition_program.html">
  <fieldset>
    <legend>Add a nutrition program:</legend>
    Program name:<br>
    <input type="text" name="programname" value="">
    <br>
    Calories:<br>
    <input type="text" name="calories" value="">
    <br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>

</body>
</html>