<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Women's Fitness</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<img src="https://cdn0.iconfinder.com/data/icons/16x16-free-toolbar-icons/16/56.png"/>
<a href="/">Return to homepage</a>
<h2>Women's Fitness</h2>
<h5>Here is the list of Women's Fitness</h5>

<form action="/womensfitness" method="POST">
	<font size="4" color="red">Add fitnesser</font>
	<table border="1px">
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Age</td>
			<td>Height</td>
			<td>Weight</td>
			<td>Fav. fitness machine</td>
			<td>Last award taken</td>
			<td>Using nutr. program</td>
		</tr>
		<tr>
			<td> <input type="number" name="ID" > </td>
			<td> <input type="text" name="NAME" > </td>
			<td> <input type="number" name="AGE" > </td>
			<td> <input type="number" name="HEIGHT" > </td>
			<td> <input type="number" name="WEIGHT" > </td>
			<td> <input type="number" name="FAV_MACHINE" > </td>
			<td> <input type="number" name="LAST_AWARD" > </td>
			<td> <input type="number" name="NUT_PROGRAM" > </td>
		</tr>
	</table>
	<input type="submit" name="womenfitness_add"value="Add" />

</br>
<font size="1" color="gray"><b>Note :</b></font>
<font size="1" color="black">Fav. fitness machine, Last award taken and Using nutr. program should be in other tables because they are foreign keys.</font>
</br></br>
<font size="1" color="red">Example ID's from initial database</font></br>
<font size="1" color="black">201 -> Fav. Fitness Machine</br>901 -> Last Award Taken</br>301 -> Using nutr. program</font>

	<br><br><br>
	<font size="3" color="red">Inside database:</font>
	<table border="1px">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Age</th>
			<th>Height</th>
			<th>Weight</th>
			<th>Fav. fitness machine</th>
			<th>Last award taken</th>
			<th>Using nutr. program</th>
		</tr>
		{% for womenfitness in womenfitnesser %}
		<tr>
			<td>{{womenfitness[0]}}</td>
			<td>{{womenfitness[1]}}</td>
			<td>{{womenfitness[2]}}</td>
			<td>{{womenfitness[3]}}</td>
			<td>{{womenfitness[4]}}</td>
			<td>{{womenfitness[5]}}</td>
			<td>{{womenfitness[6]}}</td>
			<td>{{womenfitness[7]}}</td>
		</tr>
		{% endfor %}
	</table>
	
	<br><br>
	<font size="3" color="red">Delete ID<br></font>
	<input type="number" name="deleted_id" >
	<input type="submit" name="delete_id"value="Delete" />
</form>

</body>
</html>